<app-header></app-header>
<div class="container breadcrumb">
    <div class="grid wide">
        <div class="row">
            <div class="col c-12 m-12 l-12 breadcrumb_box">
                <a href="index.html">Trang chủ</a> <span>/</span> <a href="category.html">Tất cả sản phẩm</a> 
                <span>/</span> <a style="color: #35c0c5;" href="detailproduct.html">Chi tiết sản phẩm</a>
            </div>
        </div>
    </div>
</div>

<section class="container detail-products">
    <div class="grid wide">
        <div class="row">
            <div class="col c-12 m-12 l-5 box_detail_image">
                <div class="box_image">
                    <img [src]="'http://localhost:8000/'+listDetailProductImg.path1" class="image_item"  alt="">
                </div>

                <div class="slick-track">
                    <div class="slick-slide active">
                        <img alt="" *ngIf="listDetailProductImg.path1" [src]="'http://localhost:8000/'+listDetailProductImg.path1">
                    </div>
                    <div class="slick-slide">
                        <img *ngIf="listDetailProductImg.path2" [src]="'http://localhost:8000/'+listDetailProductImg.path2" alt="">
                    </div>
                    <div class="slick-slide">
                        <img *ngIf="listDetailProductImg.path3" [src]="'http://localhost:8000/'+listDetailProductImg.path3" alt="">
                    </div>
                </div>
            </div>

            <div class="col c-12 12 l-7 box_detail_content">
                <form action="" id="form-detail">
                    <h1 class="title-name-pro"> 
                        {{ detailproduct[0]?.TenSanPham }}
                    </h1>

                    <div class="group-band-status">
                        <p class="band">
                            Thương hiệu: <span> {{ detailproduct[0]?.TenHang }}</span>
                        </p> | <p class="status">
                            Tình trạng: <span>còn hàng</span>
                        </p>
                    </div>

                    <div class="price-pro">
                        <h3> {{ detailproduct[0]?.GiaBan | number}}đ</h3>
                        <span> {{ detailproduct[0]?.GiaKhuyenMai | number }}đ</span>
                    </div>

                    <div class="description-pro">
                       
                        <p> Mô tả: {{ detailproduct[0].MoTaNgan }}</p>
                        
                    </div>

                    <div class="color-pro">
                        <span>Màu sắc</span>
                        <select name="color" id="color-item" (change)="onChangeColor($event)">
                            <option *ngFor="let item of datacolorbyproid" [value]="item.MaMau">{{ item.TenMau }}</option>
                        </select>
                    </div>

                    <div class="size-pro">
                        <span>Kích thước</span>
                        <div class="radio-size-group">
                            <div *ngFor="let item of datasizebyproid">
                                <input type="radio" name="size" [id]="'size-item-' + item.MaKichThuoc" [value]="item.MaKichThuoc" [(ngModel)]="selectedSize" (change)="onChangeSize($event)">
                                <label [for]="'size-item-' + item.MaKichThuoc">{{ item.TenKichThuoc }}</label>
                            </div>
                        </div>
                    </div>

                    <div class="quantity-pro">
                        <span>Số lượng:  {{ SoLuongTon }}</span>
                        <div class="input_number_product">
                            <input type="text" min="1" width="3" value="1">
                            <button type="button" class="add_quantity"><i class="fa-solid fa-plus"></i></button>
                            <button type="button" class="minus_quantity"><i class="fa-solid fa-minus"></i></button>
                        </div>

                        <div class="sb-cart">
                            <button type="submit" class="add-cart">Thêm vào giỏ hàng</button>
                        </div>

                        <p>Gọi <span>1900 6750</span> để được giúp đỡ</p>
                    </div>

                    <div class="box-tag">
                        Tags: <a href="#">Chuck Taylo</a> <a href="#">converse</a> <a href="#">Giày tây</a> <a href="#">Giày vải</a>
                    </div>
                </form>
            </div>

            <!-- Mô tả sản phẩm -->
            <div class="col c-12 m-12 l-12 box_description">
                <div class="tabs-title">
                    <div class="tab-link active">
                        <a href="#">THÔNG TIN SẢN PHẨM</a>
                    </div>
                    <div class="tab-link">
                        <a href="#">THANH TOÁN VẬN CHUYỂN</a>
                    </div>
                    <div class="tab-link">
                        <a href="#">ĐÁNH GIÁ SẢN PHẨM</a>
                    </div>
                </div>

                <div class="tab-float">
                    <div class="tab-item active">
                        <p>
                           {{ detailproduct[0].MoTa }}
                        </p>

                    </div>
                    <div class="tab-item">
                        <p>
                           Nội dung viết ở đây
                        </p>
                    </div>

                    <div class="tab-item">
                        <p>
                           Nội dung viết ở đây
                        </p>
                    </div>
                </div>
            </div>

            <!-- Sản phẩm liên quan -->
            <div class="col c-12 m-12 l-12 title-new-pro">
                <h2 class="content-title-newpro">
                    SẢN PHẨM LIÊN QUAN
                </h2>
                <hr style="margin-top: 15px;  opacity: 0.5;height: 1px;">
                <hr style="margin-top: 5px;  opacity: 0.5;height: 1px;">
            </div>
            <div class="col c-12 m-6 l-3 item-main">
                <div class="item-product-main">
                    <form action="" class="product-action">
                        <div class="product-thumbnail">
                            <a href="detailproduct.html" class="product-overlay"></a>
                            <a href="detailproduct.html" class="product-img-link">
                                <img
                                    class="product-img" alt="">
                            </a>
                            <div class="saleright">
                                <span>-38%</span>
                            </div>
                        </div>
                        <div class="product-info">
                            <p class="product-name">
                                <a href="detailproduct.html">Tên sản phẩm</a>
                            </p>
                            <div class="price-box">
                               Giá₫
                                <!-- <span class="compare-price">800.000₫</span> -->
                            </div>
                        </div>
                        <div class="product-action">
                            <button class="btn-cart">Tùy chọn</button>
                            <a href="#" class="link-info-pro">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
           
        </div>
    </div>
</section>
<app-footer></app-footer>
