<!-- <div class="quickView"> -->
    <!-- <div class="quickView__overlay">
    </div>
    <div class="quickView__product">
        <div class="grid">
            <div class="row">
                <div class="col c-12 m-12 l-5 box_detail_image">
                    <div class="box_image">
                        <img class="image_item" alt="">
                    </div>

                    <div class="slick-track">
                        <div class="slick-slide active">
                            <img alt="">
                        </div>
                        <div class="slick-slide" >
                            <img alt="">
                        </div>
                    </div>
                </div> -->

                <!-- <div class="col c-12 12 l-7 box_detail_content">
                    <form action="" id="form-detail">
                        <h1 class="title-name-pro">
                            aaa
                        </h1>

                        <div class="group-band-status">
                            <p class="band">
                                Thương hiệu: <span></span>
                            </p> | <p class="status">
                                Tình trạng: <span>còn hàng</span>
                            </p>
                        </div>

                        <div class="price-pro">
                            <h3>đ</h3>
                             <span>800.000đ</span> 
                        </div>

                        <div class="description-pro">
                            <p> - Bảo hành: 12 tháng</p>
                            <p>- Xuất xứ: Mỹ</p>
                            <p> - Chất liệu: Vải </p>

                        </div>

                        <div class="color-pro">
                            <span>Màu sắc</span>
                            <select name="color">
                            </select>
                        </div>

                        <div class="quantity-pro">
                            <span>Số lượng: </span>
                            <div class="input_number_product">
                                <input type="text" min="1" width="3" value="1">
                                <button type="button" class="add_quantity"><i class="fa-solid fa-plus"></i></button>
                                <button type="button" class="minus_quantity"><i
                                        class="fa-solid fa-minus"></i></button>
                            </div>

                            <div class="sb-cart">
                                <button type="submit" class="add-cart">Thêm vào giỏ hàng</button>
                            </div>

                            <p>Gọi <span>1900 6750</span> để được giúp đỡ</p>
                        </div>
                    </form>
                </div> -->

                <!-- <div class="quickView__close">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
        </div>
    </div> -->
<!-- </div> -->
<div id="toast">
</div>
<footer class="footer">
    <div class="site-footer">
        <div class="grid wide">
            <div class="row">
                <div class="col c-12 m-6 l-3 box-item-footer">
                    <div class="widget-ft">
                        <div class="blog-logo">
                            <a href="#">
                                <img src="//bizweb.dktcdn.net/100/091/133/themes/880367/assets/logo-footer.png?1676015027577"
                                    alt="">
                            </a>
                        </div>
                        <div class="item-box">
                            <div class="item">
                                <i class="fa-solid fa-location-dot"></i>
                                <p>Tầng 6,tòa nhà Ladeco,266 Đội Cấn,Hà Nội,Việt Nam, Hà Nội, </p>
                            </div>
                            <div class="item">
                                <i class="fa-solid fa-phone"></i>
                                <a href="#">1900 7650</a>
                            </div>
                            <div class="item">
                                <i class="fa-solid fa-envelope"></i>
                                <a href="#">hellocafein@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col c-12 m-6 l-3 box-item-footer">
                    <div class="box-item">
                        <h4>
                            VỀ CHÚNG TÔI
                        </h4>

                        <div class="collapse">
                            <ul>
                                <li>
                                    <a href="#">Trang chủ</a>
                                </li>
                                <li>
                                    <a href="#">Giới thiệu</a>
                                </li>
                                <li>
                                    <a href="#">Sản phẩm</a>
                                </li>
                                <li>
                                    <a href="#">Tin tức</a>
                                </li>
                                <li>
                                    <a href="#">Bản đồ</a>
                                </li>
                                <li>
                                    <a href="#">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col c-12 m-6 l-3 box-item-footer">
                    <div class="box-item">
                        <h4>
                            DỊCH VỤ
                        </h4>

                        <div class="collapse">
                            <ul>
                                <li>
                                    <a href="#">Trang chủ</a>
                                </li>
                                <li>
                                    <a href="#">Giới thiệu</a>
                                </li>
                                <li>
                                    <a href="#">Sản phẩm</a>
                                </li>
                                <li>
                                    <a href="#">Tin tức</a>
                                </li>
                                <li>
                                    <a href="#">Bản đồ</a>
                                </li>
                                <li>
                                    <a href="#">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col c-12 m-6 l-3 box-item-footer">
                    <div class="box-item">
                        <h4>
                            LIÊN HỆ
                        </h4>

                        <div class="collapse">
                            <ul>
                                <li>
                                    <a href="#">Trang chủ</a>
                                </li>
                                <li>
                                    <a href="#">Giới thiệu</a>
                                </li>
                                <li>
                                    <a href="#">Sản phẩm</a>
                                </li>
                                <li>
                                    <a href="#">Tin tức</a>
                                </li>
                                <li>
                                    <a href="#">Bản đồ</a>
                                </li>
                                <li>
                                    <a href="#">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid item-footer-bottom">
                    <div class="row">
                        <div class="col c-12 m-9 l-9">
                            <div class="content-left">
                                © Bản quyền thuộc về
                                <b>Hoàng Văn Nhật (12520090)</b> | Đề tài <a href="#">Xây dựng website bán giày</a>
                            </div>
                        </div>
                        <div class="col c-12 m-3 l-3">
                            <div class="content-right">
                                <span>Follow us </span>
                                <i class="fa-brands fa-facebook-f"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-google"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-pinterest"></i>
                            </div>
                        </div>
                        <a class="back-view-top" (click)="handleClick($event)" href="#">
                            <i class="fa-solid fa-arrow-up"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>